<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaZhK_ZqCQtw2MMjXmZETSLvVrD4I5j6w</string>
	<key>GCM_SENDER_ID</key>
	<string>673346961753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appssquare.proffer</string>
	<key>PROJECT_ID</key>
	<string>proffer-e1c9c</string>
	<key>STORAGE_BUCKET</key>
	<string>proffer-e1c9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673346961753:ios:ef57875ae1e71cc8204c48</string>
</dict>
</plist>